@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&family=Russo+One&family=Sora:wght@500&display=swap');

#content{
  zoom: 100%;
  max-width: 1600px;  
  margin: 0 auto;
}


header{
  display: grid;
  grid-template-columns: 150px auto;
  background-color: #111111;
  
}
nav{
  display: flex;
  margin-left: 100px;
  justify-content: left;
}
nav a{
  color: #ffff;
  text-align: center;
  text-decoration: none;
  font-family: Sora, Helvetica, sans-serif;
  padding: 35px;
}
nav a:hover{
  color: #FF4654;
  background-color: #0F1923;
}
.logo{
  width: 100%;
  height: 100%;
  margin-left: 30px;
  padding-bottom: 7px;
}
body{
  background-color: #ECE8E1;
  font-size: 28px;
  margin: 0;
  padding: 0;
}


img {
  vertical-align: middle;
}

.mySlides img {
  border-radius: 10px;
  vertical-align: middle;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
  margin: 10px 10px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #111111a9;
  padding: 2px 16px;
  margin: 10px 0px;
  color: #ffff;
  font-family: Sora, Helvetica, sans-serif;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 10px;
}

/* Six columns side by side */
.column {
  float: left;
  width: 11.11%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}




footer{
  font-family: Sora, Helvetica, sans-serif;
  background-color: #111111;
  color: #ffff;
  padding: 25px 50px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a{
  color: white;
  text-decoration: none;
}
footer a:hover{
  color: #FF4654;
  text-decoration: none;
  
}
footer p {
  font-size: 1em;
}
#logo_link{
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
footer .social img{
  padding: 5px;
}













@media screen and (max-width: 900px) {
    #hero, #home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        font-size: 1em;
        color: #111111;
    }
    .home-title {
        font-size: 1.8em;
        color: #111111;
    }
    .rivers-card, .camping-card{ 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
 
    footer {
        margin-top: 25px;
    }
}
